@media screen and (max-width : 736px) {
	/********/
	/* 全体 */
	/*******/

	.pc-db {
		display: none;
	}

	.sp-db {
		display: block;
	}

	/****************/
	/* news */
	/**************/

	.news-wrapper {
		>.instagram-wrapper {
			top : 55%;
			left : 70%;
		}
	}

	.news-list {
		padding-top: 2%;
	    padding-bottom: 2%;
		>dt {

		}
		>dd {

		}
	}

	/****************/
	/* section-2th */
	/**************/

	.wrapper-2th {
		padding-bottom : 3%;
		width : 100%;
	}

	.content-2th {
		margin-top : 0;
	}

	.sp-content-2th-prof,
	.sp-content-2th-another {
		margin : 0;
		padding : 0 5%;
	}

	.sp-content-first {
		border-top : 2px dashed #3CA4CF;
	}

	.sp-content-2th-another li{
		border-top : 2px dashed #9ACD32;
		border-bottom : 2px dashed #9ACD32;
	}

	.sp-content-2th-prof li:first-child {
		border-top : 2px dashed #FFC0CB;
	}

	.sp-content-2th-prof li:last-child {
		border-bottom : 2px dashed #FFC0CB;
	}

	.sp-content-tab {
		margin-bottom : 0;
	}

	.sp-content-tab li {
		display : inline-block;
	}

	.sp-content-tab a {
		border-top : 2px solid #3CA4CF;
		border-left : 2px solid #3CA4CF;
		border-right : 2px solid #3CA4CF;
		border-top-left-radius : 10px;
		border-top-right-radius: 10px;
		display: block;
		padding : 10px;
	}

	.sp-contnt-pan.sp-active {
		background-color: #3CA4CF;
	}

	.sp-content-tab a.sp-content-another {
		border-top : 2px solid #9ACD32;
		border-left : 2px solid #9ACD32;
		border-right : 2px solid #9ACD32;
	}

	.sp-content-another.sp-active {
		background-color: #9ACD32;
	}

	.sp-content-tab a.sp-content-prof {
		border-top : 2px solid #FFC0CB;
		border-left : 2px solid #FFC0CB;
		border-right : 2px solid #FFC0CB;
	}

	.sp-content-prof.sp-active {
		background-color: #FFC0CB;
	}

	.sp-contnt-2th {
		display: none;
	}

	.sp-selected {
		display: block;
	}

	/****************/
	/* section-3th */
	/**************/

	.content-3th {
		padding : 5% 0;
		margin : 0 5%;
	}

	.insta-3th {
		>a{
			display: inline-block;
			width : 20%;
		}

	}

	/****************/
	/* footer */
	/**************/
	footer {
		text-align: center;
		margin-top : 5%;
	}
	.twitter-wrapper,
	.instagram-wrapper {
		width : 36px;
	}

	.line-wrapper {
		display: inline-block;
		margin-left : 3%;
	}

	.page-btn {
		margin-top : 15%;
	}

	.page-img {
		width : 200px;
		height : 230px;
	}

	.page-img-side {
		width : 230px;
		height : 170px;
	}

	.page-ranking {
	    width: 50%;
	}
}
